/**
*
* {{ properCase componentName }}
*
*/
{{#if wantTranslations}}
// import { messages } from './messages';
import { useTranslation } from 'react-i18next';
{{/if}}
{{#if wantMemo}}
import React, { memo } from 'react';
{{else}}
import * as React from 'react';
{{/if}}

interface Props {}

{{#if wantMemo}}
export const {{ properCase componentName }} = memo((props: Props) => {
{{else}}
export function {{ properCase componentName }}(props: Props) {
{{/if}}
  {{#if wantTranslations}}
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  const { t, i18n } = useTranslation();
  {{/if}}

  return (
  <div>
    {{#if wantTranslations}}
    {t('')}
    {/*  {t(...messages.someThing())}  */}
    {{/if}}
  </div>
  );

{{#if wantMemo}}
});
{{else}}
};
{{/if}}
